@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.landing {
  display: flex;
  height: 100vh;
  /* 60px is the height of the banner */
  background-color: #fafafa;
  font-family: 'Oswald', sans-serif;
}

.left-half {
  flex: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.right-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

h1 {
  font-size: 9rem;
  margin: 0;
  color: #bd1717;
  opacity: 1;
  animation: fade-in 1s ease-in;
}

h2 {
  font-size: 5.5rem;
  margin: 0;
  margin-top: 10px;
  opacity: 1;
  animation: fade-in 1s ease-in;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  text-align: justify;
}


.logote{
  height: 25rem;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: translateY(0px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.ver-mas {
  font-family: 'Montserrat', sans-serif;
  background-color: #bd1717;
  border: none;
  color: #fff;
  padding: 15px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50px;
  position: relative;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 5%;
  left: 92.5%;
  z-index: 1;
}
