    <div id="about-click">
        <div class="about">
            <div class="left-half-about">
                <p>Somos una consultora dedicada al <span class="highlight">análisis de datos</span>. <br> Por medio de
                    análisis estadístico, modelos de inteligencia artificial y análisis táctico, somos capaces de ayudar
                    a
                    tu club a lograr lo que sea. </p>
            </div>
            <div class="container-right-about">
                <div class="right-half-about">
                    <h1>¿Quiénes</h1>
                    <div class="h2-container">
                        <h2>somos?</h2>
                    </div>
                </div>
                <button class="ver-mas-2" (click)="scrollToNextSection()">↓</button>
            </div>
        </div>
    </div>