<div [@fade]="fadeState" class="about">
    <!-- Your component content goes here -->


    <div class="about">

        <div class="left-half-about">
            <p>Somos una consultora dedicada al <span class="highlight">análisis de datos</span>. <br> Por medio de
                análisis estadístico, modelos de inteligencia artificial y análisis táctico, somos capaces de ayudar a
                tu club a lograr cualquier objetivo. </p>
        </div>
        <div class="container-right-about">
            <div class="right-half-about">
                <h1>¿Quiénes</h1>
                <div class="h2-container">
                    <h2>somos?</h2>
                </div>
            </div>
        </div>
    </div>
</div>