@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.about {
    display: flex;
    height: calc(100vh);
    background-color: #f1f1f1;
    font-family: 'Oswald', sans-serif;
    
}

.right-half-about {
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-half-about {
    flex: 1;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-right-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h2-container{
    width:100%;
}

h1 {
    font-size: 9rem;
    margin: 0;
    color: #bd1717;
    opacity: 1;
    animation: fade-in 1s ease-in;
}

h2 {
    font-size: 5.5rem;
    margin: 0;
    margin-top: 10px;
    opacity: 1;
    animation: fade-in 1s ease-in;
    text-align: right;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    font: bold;
}

.highlight {
    color: #bd1717;
    font-weight: bold;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    transform: translateY(0px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .ver-mas-2 {
    font-family: 'Montserrat', sans-serif;
    background-color: #bd1717;
    border: none;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50px;
    position: relative;
    transition: all 0.3s ease;
    z-index: 1;
    right: 2%;
    top: 40%;
  }