@keyframes fade-in {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .landing {
    display: flex;
    height: calc(92vh);
    /* 60px is the height of the banner */
    background-color: #bd1717;
    font-family: 'Oswald', sans-serif;
  }
  
  .right-half-about {
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .left-half-about {
    flex: 1;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 9rem;
    margin: 0;
    color: #f5f5f5;
    opacity: 1;
    animation: fade-in 1s ease-in;
  }
  
  h2 {
    font-size: 5.5rem;
    margin: 0;
    margin-top: 10px;
    opacity: 1;
    animation: fade-in 1s ease-in;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    font: bold;
  }
  
  .highlight {
    color: #bd1717;
    font-weight: bold;
  }