.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 80vh;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

label {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.submit-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #bd1717;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: #a50f0f;
  transform: translateY(-5px);
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.phone,
.email {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.phone i,
.email i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.phone span,
.email span {
  font-size: 1.2rem;
}
