.banner {
  position: fixed;
  /* Add position fixed */
  top: 0;
  /* Set the distance from the top of the viewport */
  left: 0;
  /* Set the distance from the left of the viewport */
  right: 0;
  /* Set the distance from the right of the viewport */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #bd1717;
  padding: 10px;
  height: 12vh;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.links a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #f5f5f5;
  padding: 4px
}

.links a:hover {
  background-color: #f5f5f5;
  color: #bd1717;
  border-radius: 10px;
  padding: 20px 4px;
  transition: all 0.15s ease-in-out;
  font: bolder;
}

.logo_sanje {
  max-height: 12vh;
}