<div class="landing">
    <div class="left-half">
      <h1>Datos,</h1>
      <h2>simplificados.</h2>
    </div>
    <div class="right-half">
      <p>El manejo de datos se ha vuelto <span class="highlight">complejo</span>. 
      <br>Cada día, más y más equipos usan modelos de inteligencia artificial en conjunto con los mejores proveedores de datos del mundo para mejorar su plantilla, su rendimiento, y su valor de marca. 
      <br>En Sanje Analytica, te ayudamos a lograr tus objetivos.</p>
    </div>
  </div>