/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Oswald';
    src: url('../assets/oswald/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  